name: Build & Release

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    name: Build Windows
    runs-on: windows-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: "npm"

      - name: Install Main Dependencies
        run: npm ci

      - name: Install Backend Dependencies
        working-directory: ./backend
        run: npm ci

      - name: Set Version from Tag
        shell: bash
        run: |
          VERSION=${GITHUB_REF#refs/tags/v}
          echo "Setting version to $VERSION"
          npm version $VERSION --no-git-tag-version --allow-same-version

      - name: Build & Package
        run: npm run app:build -- --win

      - name: Check Artifacts
        shell: bash
        run: ls -R dist

      - name: Upload Release Artifacts
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            dist/*.exe
            dist/*.dmg
            dist/*.zip
            dist/latest-mac.yml
            dist/latest.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
